.divs {
    padding-top: 1%;
    width:40%;
    margin-left: 30%;
    margin-right: 50%;
   
  }

  .myDiv {
    
    background-color: lightblue;    
    
  }

  .margin {
    margin-top: 50px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right:60px;
    width:50%;
    height: 70px;
    
    
  }

  .btnn{
    margin-top: 30px;
    margin-bottom: 50px;
    margin-right: 10px;
    margin-left: 50px;
    width:50%;
    background-color: #92a8d1;
    height: 50px;
    
  }

  .labl{
    margin-left: 5px;
    margin-right: 10px;
  }



  .button{
   
   
    box-shadow: 5px 10px 5px #000000;
    
  }

.catogari{
    margin-top: 5px;


}


.ta{
    width:50%;
    height: 10px;
}

.tt{
    width:100%;
   height: 30%;
    
}

.btd{
  margin-top: 40%;
}

.l{
  width: 70%;
  margin-top: 10%;
}

.button{
   
  width:50%;
  height:40px;
  border-radius: 8px;
  box-shadow: 5px 10px 5px #000000;
  
}
